* {
  margin: 0;
  padding: 0;
  font-family: "Ubuntu Mono", monospace !important;
}

p {
  font-weight: 700;
  color: #de6590 !important;
}

h1 {
  padding-bottom: 3rem;
  padding-top: 1rem;
}

.btn {
  background-color: #de6590 !important;
}

input {
  /* color: #de6590 !important; */
  border: solid 1px #de6590 !important;
}

button {
  color: aliceblue !important;
  font-weight: 900 !important;
}

.contain {
  margin-left: 6rem !important;
  /* margin: 5rem !important ; */
}
::placeholder {
  color: #de6590 !important;
  opacity: 1 !important; /* Firefox */
}
:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #de6590 !important;
}
::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #de6590 !important;
}

#div1 {
  margin: 6rem 0rem !important;
}
#div2 {
  margin: 8rem 0rem !important;
}
#div3 {
  margin: 8rem 0rem !important;
}
#div4 {
  margin-bottom: 0rem !important;
}

#div-1 {
  width: 75% !important;
}
